<section class="app-statistic-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="core-statistic-content content-right-spacer">
                    <div class="section-title">
                        <div class="section-heading-tag">
                            <span class="single-heading-tag">Position de votre bus</span>
                        </div>
                        <h2>Obtenez la position de votre a tout instant</h2>
                        <div class="section-title-description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, veritatis nihil itaque iure, quasi non laudantium unde nam officiis, iusto distinctio animi corrupti inventore atque fugiat! Odit sequi tempore dolorem.</p>
                        </div>
                    </div>
                    <div class="simple-icon-box-wrapper mt-40 mb-40">
                        <div class="simple-single-icon-box simple-single-icon-box-v2">
                            <i class="fal fa-users"></i>
                            <h4>localiser son bus <br class="d-none d-md-block"> facilement</h4>
                        </div>
                        <div class="simple-single-icon-box simple-single-icon-box-v2">
                            <i class="fal fa-tools"></i>
                            <h4>trouver un bus<br class="d-none d-md-block"> pour votre deplacement</h4>
                        </div>
                    </div>
                    <div class="section-button-wrapper mt-30">
                        <a  class="filled-btn">
                            lire la suite<i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="statistic-preveiw-thumbnail">
                    <div class="row">
                        <div class="col-6">
                            
                            <!-- <img class="statistic-thumbnail statistic-thumbnail-1 animate-float-bob-y wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" src="assets/img/app/core-statistic-1.png" alt="statistic preview one">
                            <img class="statistic-thumbnail statistic-thumbnail-3 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms" src="assets/img/app/core-statistic-3.png" alt="statistic preview three"> -->
                        </div>
                        <div class="col-6">
                            <!-- <img class="statistic-thumbnail statistic-thumbnail-2 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms" src="assets/img/app/core-statistic-2.png" alt="statistic preview two">
                            <img class="statistic-thumbnail statistic-thumbnail-4 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms" src="assets/img/app/core-statistic-4.png" alt="statistic preview four"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>